
# Sample data
/data
# Resource/tutorial folder
building_data_loaders

# Drawio flowcharts
*.drawio
*.drawio.xml

# PDF resource docs
*.pdf

# Jupyter Notebook
.ipynb_checkpoints

._.DS_Store

__pycache__