# Hydra outputs
**outputs
developed
# Example results
examples

# Admin scripts
*scripts

# Metashape license files
**.lic
test_permission
azcopy
# VS code stuff
**.vscode
**workspace.code-workspace

# Byte-compiled / optimized / DLL files
**__pycache__/

# Jupyter Notebook
**.ipynb_checkpoints

# Hydra
*.hydra

# Environments
**.env
**.venv
**env/
**venv/
**ENV/
**env.bak/
**venv.bak/